<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Fix FCM duplicate notification channel conflict -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="jcar_default_channel"
            tools:replace="android:value" />

    </application>

</manifest>
